body {
  margin: 2em;
/*   text-align:center; */
 /* color: #ebebeb;*/
  font-family: Tahoma;
/*   font-size: 1em; */
  background-color: #444444;
/*   background-color: #000000; */
}

header, section, aside, footer {
	margin-inside: 0.625em; 
	border:inset 0.5em transform;
/* 	background-color: white; */
	
}
#indexheader{
	
	color:#ffc526;
}
	

#resultIndex{
	height:41em; 
	width:76em;
	overflow:auto;
	color:#018bbd;
	
	position:absolute;

	padding-top:1em;
/* 	padding-right:1em; */
	background-color:#b2b2b2;
/* 	border-style:outset; */
	border: none outset;
	border-radius: 0.5em;	
}

#insertIndex{
	height:38em;
	width:27em;
	padding-top:2em;
	background-color:#018bbd;
	color:#191919;
	position:absolute;
	top:13em;
	left:80em;
	border: none outset;
	border-radius: 0.5em;
    font-size:1em;
}

#portfolio{
	width:105em;
/*  	background-color:#018bbd;  */
/* 	background-color:#444444; */
	border-style:outset;
	border: none;
	border-radius: 0.5em;
}


button{
	font-weight:bold;
	border-radius: 0.5em;
	border-style:outset;

}
#formSelect{
	position: absolute; 
	right: 3em;
	top: 0em;
	margin:1em;
}
#buttonsearch{
/* 	background-color:white; */
	position: absolute; 
	left: 19em;
	top: 0em;
	

}
#buttoninsert{
	position: absolute; 
	left: 6.70em;
	top: -1em;
	margin:1em;
}
#buttonupdate{
	position: absolute; 
	left: 10.750em;
	top: 0em;
/* 	margin:1em; */
}
#buttondelete{
	position: absolute; 
	left: 13.750em;
	top: 0em;
/* 	margin:1em; */
	color:red;
}

#insertTable{
/* 	position: absolute ; */
/* 	left: 0em; */
/* 	background-color:#444444; */
	width: 24em;
/* 	height: 30em; */
	
}

/*------------------table-------------------------*/

table {
	border:none 0.25px; 
	margin-left:1em; 
 	text-align:center;
/* 	height: 2em;  */
	width: 170em;
	/*background-color:#ffe793;*/
/* 	color: #444444; */
	table-layout:fixed;
	display: block;
	color:#191919;
	
}

#resultIndex tr{
	background-color:white;
	width: 15.625em;
}
#resultIndex tr:nth-child(odd){
	background-color:#ffffa8;
/* 	color:#191919; */
	 
}
#resultIndex tr:nth-child(1){
	background-color:#9dceff;
/* 	color:#191919;  */
}

#insertIndex tr{
	background-color:white;
	width: 15.625em;
}
#insertIndex tr:nth-child(odd){
	background-color:#ffffa8;
/* 	color:#191919; */
	 
}
#insertIndex tr:nth-child(1){
	background-color:#9dceff;
/* 	color:#191919;  */
}



td{
	width: 15.625em;
}
/* tr:nth-child(even){ */
/* 	background-color::#a4cfdf; */
/* } */

/*----------------------------------------------*/

.highlight{
	background:#018bbd;
}



/*-------------------換頁button--------------------*/

#pageBack{
	position: absolute;
	left: 62.5em;
	top: 5.5em;
}

#pageNext{
	position: absolute;
	left: 74em;
	top: 5.5em;
}

#pageNo{
	width: 3em;
	height:1.25em;
	
	position: absolute;
	right: 33.25em;
	top: 0em;
	text-align:center;

	
}


#totalPages{
	width: 3em;
	height:1.25em;
	
	position: absolute;
	left: 70.5em;
	top: 5.9em;
	text-align:center;
	
}


/*-------------------------------------------*/


